PORT=3000
DB_HOST=10.10.12.20
DB_PORT=3306
DB_USER=root
DB_PASSWORD=replace_with_database_password
DB_CONNECTION_LIMIT=4
MONGO_URI=mongodb://10.10.12.20:27017
MONGO_DB_NAME=replace_with_mongo_database
MONGO_SAYHI_COLLECTION=user_sayhi_record
SAYHI_QUERY_LIMIT=1000
SAYHI_QUERY_SKIP=0
